@import "./theme.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 60px;
  font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

nav {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.63),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 210px);
  min-height: 50px;
  border-radius: 4px;
  z-index: 100;
  padding-inline: 22.5px;
  font-weight: 500;
  text-align: center;
}
nav .logo {
  font-size: 25px;

  color: #24123a;
}
nav section {
  display: flex;
  gap: 1rem;
}
nav section a {
  font-size: 16px;

  color: #707cb4;
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

header {
  min-height: 590px;
  position: relative;
}
header .container {
  position: absolute;
  bottom: 45px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 90px);
}
header img {
  width: 100%;
  height: 100%;
}
header .text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;

  text-align: center;
}
header .text p:first-child {
  font-weight: 400;
}
header .text p:nth-child(2) {
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                  MovieCard                                 */
/* -------------------------------------------------------------------------- */

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 238px;
  min-height: 417px;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.57);
  cursor: pointer;
 
}
.card {
  width: 238px;
  min-height: 417px;
  position: relative;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.57);
}
.card img {
  width: 100%;
  height: 100%;
}
.card .title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.69);
  width: 238px;
  min-height: 96px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .title p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  text-align: center;
  color: #ffffff;
}
.average {
  width: 93px;
  min-height: 34px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.average p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;

  text-align: center;
  color: #000000;
}
.movieContainer {
  margin: 45px;
}
.movieContainer p {
  font-weight: 700;
  font-size: 25px;

  color: #000000;
  text-align: center;
}
.movieCard {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  /* row-gap: 2rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  background: #24123a;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-inline: 45px;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;

  text-align: center;
  color: #ffffff;
  /* margin: 45px; */
}
footer a{
  font-weight: 400;
  font-size: 16px;

  text-decoration: none;
  text-align: center;
  color: #ffffff;
 margin-right: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                Details Page                                */
/* -------------------------------------------------------------------------- */
.detail{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-black-dark);
  color: white;
  min-height: screen;
}
.detail .movie{
  display: flex;
  max-height: 600px;
  gap: 2rem;
  padding: 2rem;
}
.detail .movie .image{
  flex: 1;
}
.detail .movie img{
 width: 100%;
 height: 100%;
 border-radius: 0.5rem;
}
.detail .movie .info{
  flex: 1;
}
.detail .movie .info-title{
 display: flex;
 align-items: end;
 gap: 4rem;
 margin-bottom: 22.5px;
}
.detail .movie .title{
font-size: 32px;
}
.detail .movie .date{
font-size: 24px;
}
.genres{
 margin-bottom: 22.5px;
  }
.genres button{
background-color: #000000;
padding-inline: 1rem;
padding-block: 0.5rem;
color: white;
margin-right: 22.5px;
border: 1px solid white;
border-radius: 0.5rem;
}
.vote{
  display: flex;
  gap: 2rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-block: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--color-purple-light);
}
.vote .content{
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: white;
}
.overView{
  padding-block:22.5px ;
  border-bottom: 1px solid white;
  color: var(--color-purple-light);
}
.overView p:first-child{
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: white;
}
.companies{
  margin-top: 22.5px;

}
.companies > p:first-child{
  margin-bottom:0.5rem;
  font-weight: 700;
}
.companies .companyNames{
  display: flex;
  gap:1rem;
  color: var(--color-purple-light);
}
.video{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}