.notFound {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    align-items: end;
    padding: 2rem;
    img {
      width: 80px;
      margin-right: 2rem;
    }
    h1 {
      color: var(--color-pink-light);
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  .notFound {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h1 {
        font-size: 25px;
      }
    }
  }
}
